{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('fitchecker_exercise_add') }}">Add a new exercise</a>
    <h1>Choose your exercises</h1>
    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form.Exercise) }}

    {{ form_end(form) }}
{% endblock %}

