{% extends 'base.html.twig' %}

{% block body %}
    <h1>Change password for {{ user.firstname }} {{ user.name }} ({{ user.username }})</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Change password</button>
    {{ form_end(form) }}
{% endblock %}

