{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('passwordchangesucces') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    <h1>Welcome to your dashboard</h1>
    <h2>Here you can acces all the details of your profile.</h2>

    <h3>Account information:</h3>
    <a href="{{ path('fitchecker_user_logout')}}">Logout</a>
    <div>
        <div>
            Username: {{ user.username }}
        </div>
        <div>
            Email: {{ user.email }}
        </div>
        <a href="#">Change your username</a>
        <a href="{{ path('fitchecker_user_change_password')}}">Change your password</a>
        <a href="#">Change your email</a>
    </div>

    <h3>Basic information:</h3>
    <a href="#">Edit your information</a>
    <div>
        <div>
            Lastname: {{ user.name }}
        </div>
        <div>
            Firstname: {{ user.firstname }}
        </div>
        <div>
            Age: {{ user.age }}
        </div>
        <div>
            Adress: {{ user.street }} {{ user.streetNumber }} {{ user.zipcode }} {{ user.city }}
        </div>
    </div>
    <div>
        <h2>Favorite Exercises:</h2>
        <a href="{{ path('fitchecker_user_addExercise',{'user_id': user.id}) }}">Edit favorite exercises list</a>
        {% for exc in user.exercises %}
            <div>
                {{ exc.name }}
            </div>
        {% endfor %}
    </div>
    <div>
        <h2>Sets executed</h2>
        <a href="{{ path('fitchecker_user_addExerciseSet',{'user_id': user.id}) }}">New set</a>
        {% for excset in user.exercisesets %}
            <div>
                {{ excset.reps}} reps of
                {{ excset.getExercise().name }}
            </div>
        {% endfor %}
    </div>
    <div>
        <h2>Consumptions</h2>
        <a href="{{ path('fitchecker_user_addConsumption',{'user_id': user.id}) }}">New consumption</a>
        {% for consumption in user.consumptions %}
            <div>
                {{consumption.name}} consumed and it is {{consumption.type}}
            </div>
        {% endfor %}
    </div>
    <div>
        <h2>Sleep</h2>
        <a href="{{ path('fitchecker_user_addSleep',{'user_id': user.id}) }}">New sleep</a>
        {% for sleep in user.sleeps %}
            <div>
                {{sleep.hours}} hours of sleep
            </div>
        {% endfor %}
    </div>
{% endblock %}

