{% extends 'base.html.twig' %}

{% block body %}

    <h1>User profile</h1>
    <div>
        <div>
            Lastname: {{ user.name }}
        </div>
        <div>
            Firstname: {{ user.firstname }}
        </div>
        <div>
            Age: {{ user.age }}
        </div>
        <div>
            Adress: {{ user.street }} {{ user.streetNumber }} {{ user.zipcode }} {{ user.city }}
        </div>
    </div>
    <div>
        <h2>Favorite Exercises:</h2>
        {% for exc in user.exercises %}
            <div>
                {{ exc.name }}
            </div>
        {% endfor %}
    </div>

{% endblock %}